.icon img {
  background-color: #2673bb;
  width: 60px;
  height: 60px;
  border-radius: 25px;
  padding: 2px;
}

.icon-content {
  display: none;
  position: absolute;
  background-color: #888888;
  width: 160px;
  z-index: 1;
  border-radius: 10px;
}

.icon-content a {
  display: block;
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
}

.icon-content a:hover {
  background-color: #302f2f;
  border-radius: 10px;
}

.icon-content a .img-text-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-content a .img-text-container img {
  height: 30px;
  width: 30px;
}

/* Show the dropdown menu on hover */
.icon-hover-container:hover .icon-content {
  display: block;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  gap: 20px;
}
