.icon {
    img {
        background-color: #2673bb;
        width: 60px;
        height: 60px;
        border-radius: 25px;
        padding: 2px;
    }
}

.icon-content {
    display: none;
    position: absolute;
    background-color: #888888;
    width: 160px;
    z-index: 1;
    margin-top: 15px;
    a {
        display: block;
        color: #ffffff;
        padding: 12px 16px;
        text-decoration: none;
        img {
            height: 30px;
            width: 30px;
        }
        &:hover {
            background-color: #302f2f;
        }
    }
}
  
/* Show the dropdown menu on hover */
.icon-hover-container:hover .icon-content {
    display: block;
}