.icon {
    img {
        background-color: #2673bb;
        width: 60px;
        height: 60px;
        border-radius: 25px;
        padding: 2px;
    }
}

.icon-content {
    display: none;
    position: absolute;
    background-color: #888888;
    width: 160px;
    z-index: 1;
    border-radius: 10px;
    a {
        display: block;
        color: #ffffff;
        padding: 12px 16px;
        text-decoration: none;
        &:hover {
            background-color: #302f2f;
            border-radius: 10px;
        }

        .img-text-container {
            display: flex;
            align-items: center;
            gap: 10px;
            img {
                height: 30px;
                width: 30px;
            }
        }
    }
}
  
/* Show the dropdown menu on hover */
.icon-hover-container:hover .icon-content {
    display: block;
}